<ion-header>
  <ion-toolbar>
    <ion-title>Nova Conta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <br>

  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" type="text" placeholder="Parceiro Comercial" autfocus="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" type="text" placeholder="Descrição"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon name="wallet" color="if" slot="end"></ion-icon>
      <ion-input type="number" formControlName="valor" placeholder="Valor"></ion-input>
    </ion-item>
    <br>

    <ion-radio-group formControlName="tipo">
      <ion-item>
        <ion-label>A Pagar</ion-label>
        <ion-radio slot="start" value="pagar" formControlName="tipo"></ion-radio>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>A Receber</ion-label>
        <ion-radio slot="start" value="receber" formControlName="tipo"></ion-radio>
      </ion-item>
  </ion-radio-group>
  <br><br>

    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
  </form><br><br>
  


</ion-content>
