<ion-content class="ion-padding">

  <topo-login></topo-login>
  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" type="text" placeholder="E-mail" autfocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
  </form><br><br>
  
  

</ion-content>

<ion-footer>
    <ion-row>
      <ion-col>
        <ion-button [routerLink] ="['/auth/forgot']"  fill="clear" color="medium">Esqueci minha senha</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink] ="['/auth/register']" fill="clear" color="medium">Criar Usuário</ion-button>
      </ion-col>
    </ion-row>
</ion-footer>